
<ion-view  cache-view="false" view-title="商品详情">
    <div class="bar bar-header bar-positive  ">
        <!--<button class="button button-icon  icon ion-ios7-arrow-back"    ng-click="$root.backToView('mall.list');">  </button>-->
        <button class="button button-icon  icon ion-ios7-arrow-back"    ng-click="$root.back()">  </button>
        <h1 class="title">商品详情</h1>
    </div>




    <!--内容区-->
    <ion-content class="has-header detail">
        <div>
            <img-lazy width="100%"  auto="2.027">
                <img  ng-src="{{post.bigImage}}" class="full-image block" />
            </img-lazy>
        </div>


        <div class="detail-header">

            <!-- 商品标题 -->
            <div class="row row-center mb15 " >
                <h3 class="">{{post.productionName}}</h3>
                <div class="tip-supreme" ng-if="post.comment.label && post.comment.label.name">{{post.comment.label.name}}</div>
            </div>

            <!-- 商品价格 -->
            <div class="row row-center">
                <div class="point"></div>
                <div class="color-og f15 ml8">{{post.credit}}</div>
            </div>

            <!-- 日期 -->
            <div class="row row-center mt8">
                <div class="time"></div>
                <div class="time-gray ml8">{{post.comment.time}}</div>
            </div>

            <div class="row"  ng-if="post.comment.label && post.comment.label.value">
                <h5 class="tip-info">{{post.comment.label.value}}</h5>
            </div>

        </div>

        <section class="detail-body">

                <!-- 邮寄类 -->
                <div ng-if="post.productionType == 1" ng-include="'./tpls/product/product-material.html'"></div>
                <!-- 电子卷 -->
                <div ng-if="post.productionType == 3" ng-include="'./tpls/product/product-card.html'"></div>
                <!-- 话费 -->
                <div ng-if="post.productionType == 4" ng-include="'./tpls/product/product-fare.html'"></div>

        </section>


    </ion-content>
    <div class="detail-change clearfix" style="position: fixed; bottom: 0px; left : 0px;width: 100%;">


        <section class="row row-center">
            <span class="col">
                <div class="row row-center">
                    <i class="point block"></i>
                    <span class="color-og ml10">{{post.credit}}</span>
                </div>
            </span>

            <button class="button button-energized ca-sm" ng-click="goPage()"  ng-disabled="notExchange">
                {{isExchangeMsg}}
            </button>
        </section>
    </div>
</ion-view>
